name = "" # Your worker name
main = "src/worker"
compatibility_date = "2023-08-16"
compatibility_flags = [ "nodejs_compat" ]

account_id = "" # Your account ID
workers_dev = true

[[ d1_databases ]]
binding = "DB"
database_name = "log" # If you would like to use another name, please update package.json's script.
database_id = ""

[triggers]
crons = ["0 * * * *"]
